<h1>topページです</h1>
 <h2>このサイトは練習用サイトです。</h2>

 　<p>Welcometo practice!!</p><br>
  <p>これから沢山プログラミングを勉強します</p>
  <p>このページではゼルダの伝説　ブレスオブワイルドの攻略情報を交換することができます。</p><br>
  <p>ゼルダの伝説とてもおもしろゲームですよね。まだ全クリをしていないので、今後もどの様に勧めているか共有していきたいとおもいます。</p>