<h1>topページです</h1>
 <h2>このサイトは私の日記のサイトです。</h2>

 　<p>Welcometo practice!!</p><br>
  <p>これから沢山プログラミングを勉強します</p>
  <p>このページではゼルダの伝説　ブレスオブワイルドの攻略情報を交換することができます。</p><br>
  <p>ゼルダの伝説とてもおもしろゲームですよね。まだ全クリをしていないので、今後もどの様に勧めているか共有していきたいとおもいます。</p>
  <p>10/3　今日はゼルダの伝説でリトの服を強くしまいした。毎回大妖精の泉に行くのがめんどくさいです。</p>
  <p>10/4　今日はゼルダの伝説のオルディン地方のコログの実集めをしていました。コログの実は以外と岩で隠された場所を爆破した、その奥の石を持ち上げた先にいますよね。探すのほんと大変。。。</p>
  <p>10/5 とうとうリトの村のヴァ・メドーを攻略出来ました！！たのしー！！</p>
  <p>10/6　ヴァ・メドーを倒しました。一旦ボスを倒してしまい、やりがいがなくなりました。</p>
  <p>10/7　ヴァ・ナボリスを倒しました！！残るはハイラル城！！</p>

  <p>10/8　今日はITパスポートの勉強をしました。正直架橋です！！インプット重視してしまっていますが、そろそろ予想問題にも着手していこうと思います。ヨーソロー！！</p>
  <p>10/10 今日はリクルートの準備をします。またITパスポートの試験まで１週間！！頑張れ自分</p>